/nsdpi
/fsgetpath-util
/dsc-info
/dump-fixups
/net-privesc
/byte-histogram
/env-var-path-search
/jevxcselect
/compile_commands.json
/.ruff_cache/
**/*.dSYM/
/basenice
/xnu-arm64-dump-tsd
/xnu-dump-image-activation-stack
/find-macho
