[submodule "3rdparty/optparse"]
	path = 3rdparty/optparse
	url = https://github.com/skeeto/optparse
[submodule "3rdparty/thread-pool"]
	path = 3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
